{% extends 'theme/base.html' %}

{% block header_secondary %}
    {# No secondary header. #}
{% endblock %}

{% block section_main_content %}
    <div class="posts">
        {% for post in post_list %}
            {% include 'theme/_single_post.html' %}
        {% endfor %}
    </div>
    <div class="row archives">
        <div class="twelve columns">
            <ul class="block-grid three-up">
                <li style="text-align: left;">
                    {% if has_next %}
                        <a href="{{ urlname('listpage', (slice_num + 1)) }}">← older posts</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </li>
                <li style="text-align: center;">
                    <a href="{{ urlname('archives') }}"> &ndash; archives &ndash; </a>
                </li>
                <li style="text-align: right;">
                    {% if has_previous %}
                        <a href="{{ urlname('listpage', (slice_num - 1)) }}">newer posts →</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
