### WINDOWS ###
Thumbs.db

### PYCHARM ###
.idea/workspace.xml
.idea/dictionaries/

### PYTHON ###
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

### ENGINEER ###
/docs
/output/
/logs/
_cache/
*.cache
sample_site/output/
sample_site/_cache/
_emma_secret.pvt
