[submodule "engineer/static/engineer/lib/tweet"]
	path = engineer/static/engineer/lib/tweet
	url = https://github.com/seaofclouds/tweet.git
[submodule "engineer/static/engineer/lib/bootstrap"]
	path = engineer/static/engineer/lib/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "propane_distribution"]
	path = propane_distribution
	url = https://github.com/tylerbutler/propane-distribution.git
