include *.txt *.py *.md *.markdown
recursive-include engineer *.*

prune docs
prune .tox
prune engineer/sample_site/output
prune engineer/sample_site/_cache
prune */_cache

global-exclude *.pyc
