appdirs==1.2.0
bottle>=0.10.9
brownie>=0.5
cssmin>=0.1.4
feedgenerator>=1.7
flufl.enum>=3.3.1
html5lib==0.90
humanize>=0.2
jinja2>=2.6
lpjsmin>=0.4
markdown>=2.2
path.py>=2.2.2
propane>=0.1.2
pygments>=1.4
python-dateutil>=2.1
pytz>=2011k
pyYAML>=3.10
times>=0.6
translitcodec>=0.2
webassets

# engineer-specific fork of typogrify
typogrify-engineer>=2.0.0

#--allow-external webassets
#--allow-unverified webassets
#webassets==dev
