path.py>=2.2.2
markdown>=2.1.1
pyYAML>=3.10
flufl.enum>=3.3.1
translitcodec>=0.2
jinja2>=2.6
compressinja>=0.0.1
pygments>=1.4
html5lib>=0.90
Pynq>=0.4.0.Pineapple
python-dateutil==1.5
zope.cachedescriptors>=3.5.1
humanize>=0.2
bottle==0.10.9
pytz==2011k
times==0.4
-e git://github.com/hyde/typogrify#egg=typogrify
