appdirs==1.4.0
arrow==0.4.4
bottle==0.12.7
Brownie==0.5.1
crayola==0.1.1
cssmin==0.2.0
feedgenerator==1.7
flufl.enum==4.0.1
humanize==0.5.1
Jinja2==2.7.3
jsmin==2.0.11
Markdown==2.5.2
path.py==7.0
propane==0.1.2
Pygments==2.0.1
python-dateutil==2.3
PyYAML==3.11
translitcodec==0.3
webassets==0.10.1

# engineer-specific fork of typogrify
typogrify-engineer==2.0.0

# these libs MUST be specific versions
html5lib==0.90

#--allow-external webassets
#--allow-unverified webassets
#webassets==dev
