{% if post.content_teaser and not settings.FEED_FULL_CONTENT %}
    {{ post.content_teaser }}
    <div>
        <a href="{{ post.absolute_url }}" class="button">Read more →</a>
    </div>
{% else %}
    {{ post.content }}
    {% if post.via %}
        <div>
            {% if post.via_link %}
                via <a href="{{ post.via_link }}">{{ post.via }}</a>
            {% else %}
                via {{ post.via }}
            {% endif %}
        </div>
    {% endif %}
{% endif %}
