{% extends 'core/_base.html' %}

{% block site_title %}
    {% block page_title %}{% endblock %}
    {% if self.page_title() %}: {% endif %}{{ super() }}
{% endblock %}

{%- block stylesheets %}
    {% if theme.enable_bigfoot %}
        {% assets "dark_rainbow_css_bigfoot" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
        {% endassets %}
    {% else %}
        {% assets "dark_rainbow_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
        {% endassets %}
    {% endif %}
{% endblock -%}

{%- block scripts_top %}
    {# JQUERY #}
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        if (window.jQuery == undefined) {
            {% assets "jquery" %}
                document.write('<script src="{{ ASSET_URL }}"><\/script>');
            {% endassets %}
        }
    </script>

    {# TYPEKIT #}
    <!--suppress JSUnresolvedLibraryURL -->
    <script type="text/javascript"
            src="//use.typekit.net/{{ theme.typekit_id }}.js"></script>
    <script type="text/javascript">
        try {
            // noinspection JSUnresolvedVariable
            Typekit.load();
        }
        catch (e) {
        }
    </script>

    {% if theme.enable_bigfoot %}
        {% assets "bigfoot_js" %}
            <script src="{{ ASSET_URL }}" type="text/javascript"></script>
        {% endassets %}
        <script type="text/javascript">
            $.bigfoot({
                          deleteOnUnhover: false,
                          preventPageScroll: false,
                          hoverDelay: 250,
                          //appendPopoversTo: "body",
                          numberResetSelector: "article.post-content"
                      });
            {#            {% raw %}#}
            {#            $.bigfoot({#}
            {#                          actionOriginalFN: "ignore",#}
            {#                          numberResetSelector: "article.post-content",#}
            {#                          buttonMarkup: (#}
            {#                                  "<a href=\"#\" class=\"footnote-button\" rel=\"footnote\" " +#}
            {#                                  "id=\"{{SUP:data-footnote-backlink-ref}}\" " +#}
            {#                                  "data-footnote-number=\"{{FOOTNOTENUM}}\" " +#}
            {#                                  "data-footnote-identifier=\"{{FOOTNOTEID}}\" " +#}
            {#                                  "alt=\"See Footnote {{FOOTNOTENUM}}\" " +#}
            {#                                  "data-footnote-content=\"{{FOOTNOTECONTENT}}\">" +#}
            {#                                  "{{FOOTNOTENUM}}" +#}
            {#                                  "</a>"#}
            {#                                  )#}
            {#                      });#}
            {#            {% endraw %}#}
        </script>
    {% endif %}

    {{ super() }}
{% endblock -%}

{%- block body %}
    {% if theme.sharing.facebook_enabled and theme.sharing.facebook_app_id %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId={{ theme.sharing.facebook_app_id }}&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}
    <div class="container">
        {%- block header_primary %}
            <header id="primary" class="row">
                {%- block header_primary_content %}
                    {% with split_title=settings.SITE_TITLE.split(' ') %}
                        <h1 class="{%- block header_primary_h1_class %}small-12 medium-5 columns{% endblock -%}">
                            <a href="{{ urlname('home') }}">
                                {%- block header_primary_title %}
                                    {{ ' '.join(settings.SITE_TITLE.split(' ')[0:-1])|lower }}
                                    <span class="highlight">{{ settings.SITE_TITLE.split(' ')[-1]|lower }}</span>
                                {% endblock -%}</a>
                        </h1>
                    {% endwith %}
                {% endblock -%}
                {%- block nav_primary %}
                    <nav class="
                        {%- block nav_primary_class %}small-12 medium-7 columns{% endblock -%}">
                        {%- block nav_primary_content %}
                            {% include '_nav_primary.html' %}
                        {% endblock -%}
                    </nav>
                {% endblock -%}
            </header>
        {% endblock -%}
        {%- block header_secondary %}
            <header id="secondary" class="row">
                {%- block header_secondary_content %}
                    <h1 class="
                        {%- block header_secondary_h1_class %}small-12 medium-6 columns{% endblock -%}">
                        {%- block header_secondary_title %}<span class="replace_me">
                        section header</span>{% endblock -%}
                    </h1>
                    {%- block nav_secondary %}
                        <nav class="
                            {%- block nav_secondary_class %}small-12 medium-6 columns{% endblock -%}">
                            {%- block nav_secondary_content %}
                                <ul class="replace_me">
                                    <li>secondary</li>
                                    <li>navigation</li>
                                </ul>
                            {% endblock -%}
                        </nav>
                    {% endblock -%}
                {% endblock -%}
            </header>
        {% endblock -%}
        <div class="row">
            {%- block section_sidebar %}
                <section id="sidebar"
                         class="{%- block section_sidebar_class -%}
                         medium-4 medium-push-8 large-3 large-push-9 columns
                         {%- endblock -%}">
                    {%- block section_sidebar_content %}
                        {% include '_sidebar.html' %}
                    {% endblock -%}
                </section>
            {% endblock -%}
            {%- block section_main %}
                <section id="main"
                         class="{%- block section_main_class -%}
                         medium-8 medium-pull-4 large-9 large-pull-3 columns
                         {%- endblock -%}"
                         role="main">
                    {%- block section_main_content %}
                        <div class="replace_me">Replace this content in the main
                            section.
                        </div>
                    {% endblock -%}
                </section>
            {% endblock -%}
        </div>
        <div class="row">
            {%- block footer %}
                <footer class="
                    {%- block footer_class %}small-12 small-centered columns{% endblock -%}">
                    {%- block footer_content %}
                        {% include '_footer.html' %}
                    {% endblock -%}
                </footer>
            {% endblock -%}
        </div>
    </div>
{% endblock body %}

{%- block scripts_bottom %}
    {% assets "foundation_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock -%}
