{% extends 'theme/base.html' %}

{% block header_secondary %}
    {# No secondary header. #}
{% endblock %}

{% block section_main_content %}
    <div class="posts">
        {% for post in post_list %}
            {% with listpage = True %}
                {% include 'theme/_single_post.html' %}
            {% endwith %}
        {% endfor %}
    </div>
    <div class="row archives">
        <div class="small-12 columns post-links">
            <ul class="small-block-grid-3">
                <li>
                    {% if has_next %}
                        <a href="{{ urlname('listpage', (slice_num + 1)) }}">← older posts</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </li>
                <li style="text-align: center;">
                    <a href="{{ urlname('archives') }}"> &ndash; archives &ndash; </a>
                </li>
                <li>
                    {% if has_previous %}
                        <a href="{{ urlname('listpage', (slice_num - 1)) }}">newer posts →</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
