{% extends '/theme/template_page_base.html' %}

{# A simple template page layout that includes the default site sidebar. #}

{% block header_secondary_h1_class %}small-12 columns{% endblock %}
{% block nav_secondary %}{# Empty secondary nav #}{% endblock %}

{% block page_title %}Simple Template Page{% endblock %}

{% block section_main_content %}
    {% filter typogrify %}
        <article class="template-page">
            {% block content %}
                <div class="replace-me">
                    <h1>A Simple Template Page</h1>

                    <p>This is a simple template page!</p>
                </div>
            {% endblock %}
        </article>
    {% endfilter %}
{% endblock %}
