{% macro theme_local(path) -%}

{%- endmacro %}

{% macro _make_relative_path(path, prepend_static_url) -%}
    {% if prepend_static_url -%}
        {{ STATIC_URL }}/{{ path }}
    {% else -%}
        {{ path }}
    {%- endif %}
{%- endmacro %}

{% macro render_less_link(path_input, prepend_static_url=True) -%}
    {%- if settings.USE_CLIENT_SIDE_LESS %}
        <link rel="stylesheet/less" href="{{ _make_relative_path(path_input, prepend_static_url) }}" type="text/css"/>
    {%- else -%}
        <link rel="stylesheet" href="{{ _make_relative_path(path_input, prepend_static_url) }}" type="text/css"/>
    {%- endif %}
{%- endmacro %}
