<div class="row">
    {% block post_content %}
        <div class="twelve columns">
            {% with link=post.is_external_link %}
                <article class="post-content rollup">
                    <header>
                        <h1>
                            <a href="{% if link %}{{ post.link }}{% else %}
        {{ post.url }}{% endif %}">{{ post.title }}</a>
                            {% if link %}<span class="arrow">→</span>{% endif %}
                        </h1>
                    </header>
                    <time datetime="{{ post.timestamp|localtime|date("%Y-%m-%d %Z") }}" pubdate="">
                        {{ post.timestamp|localtime|date("%B %d") }}
                    </time>
                    {% if link %}
                        <span class="permalink"> | <a href="{{ post.url }}"
                                                      title="Permanent link to '{{ post.title }}'">Permalink</a>
                            {% if post.via %}
                                <span class="attribution">
                                | via {% if post.via_link %}
                                        <a href="{{ post.via_link }}">{{ post.via }}</a>
                                    {% else %}
                                        {{ post.via }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        </span>
                    {% endif %}
                    {{ post.content|safe }}
                </article>
            {% endwith %}
        </div>
    {% endblock post_content %}
</div>
