{% extends 'core/_base.html' %}

{%- from 'core/_macros.html' import render_less_link -%}

{% block site_title %}
    {% block page_title %}{% endblock %}
    {% if self.page_title() %}: {% endif %}{{ super() }}
{% endblock %}

{%- block stylesheets %}
    {{ render_less_link('theme/stylesheets/oleb.less') }}
    {%- block additional_stylesheets %}
        {% filter compress %}
            <link rel="stylesheet"
                  href="{{ settings.STATIC_URL }}/theme/stylesheets/github.css"/>
        {% endfilter %}
    {% endblock -%}
{% endblock -%}

{%- block scripts_top %}
    {# TYPEKIT #}
    <script type="text/javascript"
            src="http://use.typekit.net/{{ theme.typekit_id }}.js"></script>
    <script type="text/javascript">
        try {
            Typekit.load();
        } catch (e) {
        }
    </script>
    {%- block additional_scripts_top %}{% endblock -%}
{% endblock -%}

{#{% block body_class %}container{% endblock %}#}

{%- block body %}
    <div class="container">
        {%- block header_primary %}
            <header id="primary" class="row">
                {%- block header_primary_content %}
                    <h1 class="{%- block header_primary_h1_class %}three columns{% endblock -%}">
                        {%- block header_primary_title %}
                            <a href="{{ urlname('home') }}">{{ settings.SITE_TITLE|title }}</a>
                        {% endblock -%}
                    </h1>
                {% endblock -%}
                {%- block nav_primary %}
                    <nav class="{%- block nav_primary_class %}nine columns{% endblock -%}">
                        {%- block nav_primary_content %}
                            {% include '_nav_primary.html' %}
                        {% endblock -%}
                    </nav>
                {% endblock -%}
            </header>
        {% endblock -%}
        <div class="row">
            {%- block section_main %}
                <section id="main"
                         class="{%- block section_main_class %}eight columns{% endblock -%}"
                         role="main">
                    {%- block section_main_content %}
                        <div class="replace_me">
                            Replace this content in the main section.
                        </div>
                    {% endblock -%}
                </section>
            {% endblock -%}
            {%- block section_sidebar %}
                <section id="sidebar" class="{%- block section_sidebar_class %}four columns{% endblock -%}">
                    {%- block section_sidebar_content %}
                        {% include '_sidebar.html' %}
                    {% endblock -%}
                </section>
            {% endblock -%}
        </div>
        <div class="row">
            {%- block footer %}
                <footer>
                    {%- block footer_content %}
                        {% include '_footer.html' %}
                    {% endblock -%}
                </footer>
            {% endblock -%}
        </div>
    </div>
{% endblock body %}

{%- block scripts_bottom %}{% endblock -%}
