.hll { background-color: #ffffcc }
.c { color: #4e4e4e } /* Comment */
.err { color: #8a8a8a } /* Error */
.esc { color: #8a8a8a } /* Escape */
.g { color: #8a8a8a } /* Generic */
.k { color: #5f8700 } /* Keyword */
.l { color: #8a8a8a } /* Literal */
.n { color: #8a8a8a } /* Name */
.o { color: #8a8a8a } /* Operator */
.x { color: #d75f00 } /* Other */
.p { color: #8a8a8a } /* Punctuation */
.cm { color: #4e4e4e } /* Comment.Multiline */
.cp { color: #5f8700 } /* Comment.Preproc */
.c1 { color: #4e4e4e } /* Comment.Single */
.cs { color: #5f8700 } /* Comment.Special */
.gd { color: #af0000 } /* Generic.Deleted */
.ge { color: #8a8a8a; font-style: italic } /* Generic.Emph */
.gr { color: #af0000; font-weight: bold } /* Generic.Error */
.gh { color: #d75f00 } /* Generic.Heading */
.gi { color: #5f8700 } /* Generic.Inserted */
.go { color: #8a8a8a } /* Generic.Output */
.gp { color: #8a8a8a } /* Generic.Prompt */
.gs { color: #8a8a8a; font-weight: bold } /* Generic.Strong */
.gu { color: #0087ff } /* Generic.Subheading */
.gt { color: #8a8a8a } /* Generic.Traceback */
.kc { color: #d75f00 } /* Keyword.Constant */
.kd { color: #0087ff } /* Keyword.Declaration */
.kn { color: #d75f00 } /* Keyword.Namespace */
.kp { color: #5f8700 } /* Keyword.Pseudo */
.kr { color: #0087ff } /* Keyword.Reserved */
.kt { color: #af0000 } /* Keyword.Type */
.ld { color: #8a8a8a } /* Literal.Date */
.m { color: #00afaf } /* Literal.Number */
.s { color: #00afaf } /* Literal.String */
.na { color: #8a8a8a } /* Name.Attribute */
.nb { color: #0087ff } /* Name.Builtin */
.nc { color: #0087ff } /* Name.Class */
.no { color: #d75f00 } /* Name.Constant */
.nd { color: #0087ff } /* Name.Decorator */
.ni { color: #d75f00 } /* Name.Entity */
.ne { color: #af8700 } /* Name.Exception */
.nf { color: #0087ff } /* Name.Function */
.nl { color: #8a8a8a } /* Name.Label */
.nn { color: #8a8a8a } /* Name.Namespace */
.nx { color: #8a8a8a } /* Name.Other */
.py { color: #8a8a8a } /* Name.Property */
.nt { color: #0087ff } /* Name.Tag */
.nv { color: #0087ff } /* Name.Variable */
.ow { color: #5f8700 } /* Operator.Word */
.w { color: #8a8a8a } /* Text.Whitespace */
.mb { color: #00afaf } /* Literal.Number.Bin */
.mf { color: #00afaf } /* Literal.Number.Float */
.mh { color: #00afaf } /* Literal.Number.Hex */
.mi { color: #00afaf } /* Literal.Number.Integer */
.mo { color: #00afaf } /* Literal.Number.Oct */
.sb { color: #4e4e4e } /* Literal.String.Backtick */
.sc { color: #00afaf } /* Literal.String.Char */
.sd { color: #00afaf } /* Literal.String.Doc */
.s2 { color: #00afaf } /* Literal.String.Double */
.se { color: #af0000 } /* Literal.String.Escape */
.sh { color: #00afaf } /* Literal.String.Heredoc */
.si { color: #00afaf } /* Literal.String.Interpol */
.sx { color: #00afaf } /* Literal.String.Other */
.sr { color: #af0000 } /* Literal.String.Regex */
.s1 { color: #00afaf } /* Literal.String.Single */
.ss { color: #00afaf } /* Literal.String.Symbol */
.bp { color: #0087ff } /* Name.Builtin.Pseudo */
.vc { color: #0087ff } /* Name.Variable.Class */
.vg { color: #0087ff } /* Name.Variable.Global */
.vi { color: #0087ff } /* Name.Variable.Instance */
.il { color: #00afaf } /* Literal.Number.Integer.Long */