{% extends 'core/_base.html' %}

{%- from 'core/_macros.html' import render_less_link -%}

{% block site_title %}Emma{% endblock %}

{% block foundation %}{% endblock %}

{%- block stylesheets %}
    <!-- Included CSS Files -->
    <link rel="stylesheet"
          href="{{ engineer.foundation_url }}stylesheets/globals.css">
    <link rel="stylesheet"
          href="{{ engineer.foundation_url }}stylesheets/typography.css">
    <link rel="stylesheet"
          href="{{ engineer.foundation_url }}stylesheets/grid.css">
    <link rel="stylesheet"
          href="{{ engineer.foundation_url }}stylesheets/ui.css">
    <link rel="stylesheet"
          href="{{ engineer.foundation_url }}stylesheets/app.css">
    <link rel="stylesheet"
          href="{{ engineer.foundation_url }}stylesheets/mobile.css">
    <!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    {%- block additional_stylesheets %}
        <style type="text/css">
            p, div, .label {
                font-size: 18px;
                font-size: 1.8rem;
                line-height: 1.5;
            }
        </style>
    {% endblock -%}
{% endblock -%}

{%- block scripts_top %}
    {%- block additional_scripts_top %}{% endblock -%}
{% endblock -%}

{% block body %}
    <div class="container">
        <div class="row">
            <header class="twelve columns">
                <h1><a href="{{ settings.SITE_URL }}">{{ settings.SITE_TITLE }}</a></h1>
                <hr/>
                <h2 style="display: inline;">Emma: </h2>

                <h3 style="display: inline;">Engineer Miniature Management Automaton</h3>
            </header>
            <hr/>
        </div>
        {% block section_main %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript" src="{{ engineer.foundation_url }}javascripts/jquery.tooltips.js"></script>
{% endblock %}
