{% extends 'theme/template_page_simple.html' %}

{% block page_title %}Themes{% endblock %}

{% block header_secondary_title %}Themes{% endblock %}

{% block content %}
    <article>
        <p>Engineer comes with two themes, and provides a basic framework for creating additional ones if you're so
            inclined.</p>

        <h2>Dark Rainbow</h2>

        <p>The default Engineer theme, Dark Rainbow has also been called 'Voldemort's Skittles,'
            'Unicorn Vomit,' and other names not fit to repeat here. Needless to say, the parade of
            colors isn't for everyone.</p>

        <h2>Ole Blue Eyes</h2>
    </article>
{% endblock %}
